.title {
}
.contactsList {
  padding-left: 0;
  list-style: disc;
}
.contact {
  display: flex;
  margin-bottom: 5px;
}
.name {
  width: 150px;
  margin-right: 20px;
}
.phone {
  width: 100px;
  margin-right: 20px;
}
.btnDeleteContact {
}
